
<form action="/users" method="post">
  <label for="username">Username</label>
  <input type="text" name="user[username]" id="username">
  <label for="password">Password</label>
  <input type="text" name="user[password]" id="password">
  <input type="submit" value="sign_up">
</form>
