Post title: <%= @post.title %>
Post content: <%= @post.content %>

<br>

<% @post.comments_by_parent_id[nil].each do |comment| %>
  <%= render 'comment', comment: comment,
   comments_by_parent_id: @post.comments_by_parent_id%>
<% end %>

<p>Create new comment</p>
post_comments

<form action="/posts/<%= @post.id %>/comments" method="post">
  <label for="content">Content</label>
  <input type="text" name="comment[content]" id="title">
  <input type="submit" value="create comment">
</form>
