Post title: <%= @post.title %>
Post content: <%= @post.content %>

<br>

<% @all_comments.each do |comment| %>
  <% if comment.parent_comment_id.nil? %>
    <%= render 'comment', comment: comment, all_comments: @all_comments %>
  <% end %>
<% end %>

<p>Create new comment</p>
post_comments

<form action="/posts/<%= @post.id %>/comments" method="post">
  <label for="content">Content</label>
  <input type="text" name="comment[content]" id="title">
  <input type="submit" value="create comment">
</form>
